Repository ericcornelissen/eslint-plugin-top, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, documentation, meta, test, security

Switch to `@eslint/json` and `@eslint/markdown` (#1224)
  eslint.config.mjs
  package-lock.json
  package.json
Labels: dependencies

Remove assignees
  .github/dependabot.yml
  .github/workflows/tooling.yml
  .github/workflows/weekly.yml
Labels: ci

Remove assignees (#1225)
  .github/dependabot.yml
  .github/workflows/tooling.yml
  .github/workflows/weekly.yml
Labels: ci

Update transitive dependencies
  package-lock.json
Labels: dependencies

Use depreman to manage deprecations
  .github/workflows/check.yml
  .ndmrc
  package-lock.json
  package.json
Labels: ci, dependencies

Update licensee configuration
  .licensee.json
Labels: meta

Use `depreman` to manage deprecations (#1234)
  .github/workflows/check.yml
  .licensee.json
  .ndmrc
  package-lock.json
  package.json
Labels: ci, dependencies, meta

Upgrade depreman
  .github/workflows/audit-dev.yml
  .github/workflows/check.yml
  .licensee.json
  .ndmrc
  package-lock.json
  package.json
Labels: ci, dependencies, meta

Upgrade depreman (#1236)
  .github/workflows/audit-dev.yml
  .github/workflows/check.yml
  .licensee.json
  .ndmrc
  package-lock.json
  package.json
Labels: ci, dependencies, meta

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update expiry date in the security policy
  SECURITY.md
Labels: security

Update expiry date in the security policy (#1245)
  SECURITY.md
Labels: security

Update .licensee.json
  .licensee.json
Labels: meta

Upgrade `depreman` to v0.3.1
  .licensee.json
  .ndmrc
  package-lock.json
  package.json
Labels: dependencies, meta

Update and align `audit` scripts
  .github/workflows/audit-dev.yml
  .github/workflows/audit-release.yml
  CONTRIBUTING.md
  package.json
Labels: ci

(Re)Add an `npm run audit` command
  package.json
Labels: none

Upgrade `depreman` to v0.3.1 (#1247)
  .github/workflows/audit-dev.yml
  .github/workflows/audit-release.yml
  .licensee.json
  .ndmrc
  CONTRIBUTING.md
  package-lock.json
  package.json
Labels: ci, dependencies, meta

Update actionlint
  .tool-versions
Labels: dependencies

Revert recent change to audit-release.yml
  .github/workflows/audit-release.yml
Labels: ci

Audit everything for dev in CI
  .github/workflows/audit-dev.yml
Labels: ci

wording
  .github/workflows/audit-dev.yml
Labels: ci

Correct auditing commands in CI (#1250)
  .github/workflows/audit-dev.yml
  .github/workflows/audit-release.yml
Labels: ci

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update `.ndmrc` in line with v0.3.2
  .ndmrc
Labels: none

Cover `WeakMap` and `WeakSet` alongside `Map` and `Set`
  lib/configs/recommended.ts
  tests/unit/no-top-level-side-effects.test.ts
Labels: test

Update the changelog
  CHANGELOG.md
Labels: none

Cover `WeakMap` and `WeakSet` alongside `Map` and `Set` (#1254)
  CHANGELOG.md
  lib/configs/recommended.ts
  tests/unit/no-top-level-side-effects.test.ts
Labels: test

Update transitive dependencies
  package-lock.json
Labels: dependencies

Re-organize development commands
  .github/workflows/check.yml
  .markdownlint.yml
  CONTRIBUTING.md
  package-lock.json
  package.json
Labels: ci, dependencies, meta

Fix lingering `npm run lint:`s
  .github/workflows/check.yml
Labels: ci

Re-organize development commands (#1259)
  .github/workflows/check.yml
  .markdownlint.yml
  CONTRIBUTING.md
  package-lock.json
  package.json
Labels: ci, dependencies, meta

Set up ODGen SAST scan in CI
  .github/workflows/check.yml
Labels: ci

Enable `no-unsafe-values` rule for JSON in ESLint
  eslint.config.mjs
Labels: none

Update transitive dependencies
  package-lock.json
Labels: dependencies

Bump odgen-action to v1.0.3
  .github/workflows/check.yml
Labels: ci

Try out ODGen SAST scan using the odgen-action (#1261)
  .github/workflows/check.yml
Labels: ci

Enable new `json/no-unnormalized-keys` rule
  eslint.config.mjs
Labels: none

Harden GitHub Actions workflows
  .github/workflows/audit-dev.yml
  .github/workflows/audit-release.yml
  .github/workflows/check.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/secrets.yml
  .github/workflows/semgrep.yml
  .github/workflows/weekly.yml
Labels: ci

Harden GitHub Actions workflows (#1275)
  .github/workflows/audit-dev.yml
  .github/workflows/audit-release.yml
  .github/workflows/check.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/secrets.yml
  .github/workflows/semgrep.yml
  .github/workflows/weekly.yml
Labels: ci

Update container used for Semgrep scan
  .github/workflows/semgrep.yml
Labels: ci

.github/labeler.yml:

# Check out Labeler at: https://github.com/actions/labeler

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/codeql.yml
          - .github/dependabot.yml
          - .github/labeler.yml

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - .nvmrc
          - .tool-versions
          - package-lock.json

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - docs/**/*
          - README.md

meta:
  - changed-files:
      - any-glob-to-any-file:
          - .github/labeler.yml
          - .editorconfig
          - .eslintrc.cjs
          - .gitattributes
          - .gitignore
          - .licensee.json
          - .lockfile-lintrc.yml
          - .markdownlint.yml
          - .npmrc
          - .prettierrc.yml

test:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**
          - tests/**/*
          - .c8rc.json
          - .mocharc.cjs

security:
  - changed-files:
      - any-glob-to-any-file:
          - .github/codeql.yml
          - .nsprc
          - SECURITY.md
