Repository ericcornelissen/eslint-plugin-top, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, documentation, meta, test, security

Annotate test categories for unit tests (#1103)
  tests/unit/no-top-level-side-effects.test.ts
  tests/unit/no-top-level-variables.test.ts
Labels: test

Test nested function calls
  tests/unit/no-top-level-side-effects.test.ts
Labels: test

Test that import declarations are okay with `no-top-level-variables`
  tests/unit/no-top-level-variables.test.ts
Labels: test

Update `(at)typescript-eslint/eslint-plugin` configuration
  .eslintrc.js
Labels: none

Test nested `new` and mixed calls and constructors
  tests/unit/no-top-level-side-effects.test.ts
Labels: test

Update transitive dependencies
  package-lock.json
Labels: dependencies

Explicitly test extra allowed option values for `no-top-level-variables`
  docs/rules/no-top-level-variables.md
  tests/unit/no-top-level-variables.test.ts
Labels: documentation, test

Upgrade ESLint configuration for v9
  .eslintrc.js
  eslint.config.js
  knip.jsonc
  package.json
Labels: none

Update tests for ESLint v9
  tests/unit/no-top-level-side-effects.test.ts
  tests/unit/no-top-level-variables.test.ts
Labels: test

Avoid unnecessary top level constructor
  lib/helpers.ts
Labels: none

Avoid unnecessary top level constructor (#1116)
  lib/helpers.ts
Labels: none

Explicitly test `kind: ['const']`
  tests/unit/no-top-level-variables.test.ts
Labels: test

Test `allowedCalls` and `allowedNews` combined with derived and commonjs
  tests/unit/no-top-level-side-effects.test.ts
Labels: test

Test and clarify in the docs when IIFE are disallowed
  docs/rules/no-top-level-side-effects.md
  tests/unit/no-top-level-side-effects.test.ts
Labels: documentation, test

Update examples for `no-top-level-side-effects` docs
  docs/rules/no-top-level-side-effects.md
Labels: documentation

Test and clarify in the docs when IIFE are disallowed (#1123)
  docs/rules/no-top-level-side-effects.md
  tests/unit/no-top-level-side-effects.test.ts
Labels: documentation, test

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update transitive dependencies
  package-lock.json
Labels: dependencies

Enable typescript-eslint no-deprecated rule
  eslint.config.js
Labels: none

Update transitive dependencies
  package-lock.json
Labels: dependencies

Bump Node.js for dev from 22.4.1 to 22.7.0
  .nvmrc
Labels: dependencies

Update transitive dependencies
  package-lock.json
Labels: dependencies

Explain preset configurations in the documentation
  README.md
Labels: documentation

Use auto-detect for CommonJS in configuration presets
  lib/configs/recommended.ts
  lib/configs/strict.ts
Labels: none

Explain preset configurations in the documentation (#1164)
  README.md
Labels: documentation

Use auto-detect for CommonJS in configuration presets (#1165)
  lib/configs/recommended.ts
  lib/configs/strict.ts
Labels: none

Allow three more expression in `no-top-level-variables`
  docs/rules/no-top-level-variables.md
  lib/rules/no-top-level-variables.ts
  tests/unit/no-top-level-variables.test.ts
Labels: documentation, test

Update the changelog
  CHANGELOG.md
Labels: none

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update actionlint
  .tool-versions
Labels: dependencies

Upgrade the ubuntu runner used in CI to 24.04 (#1003)
  .github/workflows/audit-dev.yml
  .github/workflows/audit-release.yml
  .github/workflows/check.yml
  .github/workflows/labeler.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/secrets.yml
  .github/workflows/semgrep.yml
  .github/workflows/tooling.yml
  .github/workflows/weekly.yml
Labels: ci

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update actionlint
  .tool-versions
Labels: dependencies

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update transitive dependencies
  package-lock.json
Labels: dependencies

Switch `eslint-plugin-json` to `(at)eslint/json`
  eslint.config.js
  package-lock.json
  package.json
Labels: dependencies

Switch `eslint-plugin-markdown` to `(at)eslint/markdown`
  eslint.config.mjs
  package-lock.json
  package.json
Labels: dependencies

.github/labeler.yml:

# Check out Labeler at: https://github.com/actions/labeler

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/codeql.yml
          - .github/dependabot.yml
          - .github/labeler.yml

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - .nvmrc
          - .tool-versions
          - package-lock.json

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - docs/**/*
          - README.md

meta:
  - changed-files:
      - any-glob-to-any-file:
          - .github/labeler.yml
          - .editorconfig
          - .eslintrc.cjs
          - .gitattributes
          - .gitignore
          - .licensee.json
          - .lockfile-lintrc.yml
          - .markdownlint.yml
          - .npmrc
          - .prettierrc.yml

test:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**
          - tests/**/*
          - .c8rc.json
          - .mocharc.cjs

security:
  - changed-files:
      - any-glob-to-any-file:
          - .github/codeql.yml
          - .nsprc
          - SECURITY.md
