Repository ericcornelissen/eslint-plugin-top, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, documentation, test, security

.github/labeler.yml:

# Check out Labeler at: https://github.com/actions/labeler

ci:
  - .github/workflows/*
  - .github/codecov.yml
  - .github/codeql.yml
  - .github/dependabot.yml
  - .github/labeler.yml

dependencies:
  - .tool-versions
  - package-lock.json

documentation:
  - docs/*
  - README.md

test:
  - tests/**
  - tests/**/*

security:
  - SECURITY.md

Replace homegrown tooling updates by dedicated action
  .github/workflows/nightly.yml
Labels: ci

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update transitive dependencies (#474)
  package-lock.json
Labels: dependencies

Ignore GHSA-c2qf-rxjj-qqgw when auditing
  .nsprc
Labels: none

Ignore GHSA-c2qf-rxjj-qqgw when auditing
  .nsprc
Labels: none

Ignore GHSA-c2qf-rxjj-qqgw when auditing (#483)
  .nsprc
Labels: none

Ignore GHSA-c2qf-rxjj-qqgw when auditing for v1 main branch (#484)
  .nsprc
Labels: none

Move CI auditing into separate workflow
  .github/workflows/audit.yml
  .github/workflows/check.yml
Labels: ci

Move Semgrep into separate workflow
  .github/workflows/check.yml
  .github/workflows/semgrep.yml
Labels: ci

Move Semgrep into separate workflow (#486)
  .github/workflows/check.yml
  .github/workflows/semgrep.yml
Labels: ci

Set up weekly CI job to update transitive dependencies
  .github/workflows/weekly.yml
Labels: ci

Move CI auditing into separate workflow (#485)
  .github/workflows/audit.yml
  .github/workflows/check.yml
Labels: ci

Set up weekly CI job to update transitive dependencies (#487)
  .github/workflows/weekly.yml
Labels: ci

Update weekly workflow
  .github/workflows/weekly.yml
Labels: ci

Update weekly workflow (#488)
  .github/workflows/weekly.yml
Labels: ci

Update transitive dependencies
  package-lock.json
Labels: dependencies

Bump Stryker core and plugins to 7.1.0
  package-lock.json
  package.json
Labels: dependencies

Bump Stryker core and plugins to 7.1.0 (#492)
  package-lock.json
  package.json
Labels: dependencies

Configure step-security/harden-runner for weekly workflow
  .github/workflows/weekly.yml
Labels: ci

Bump transitive dependency optionator
  package-lock.json
Labels: dependencies

Bump transitive dependency optionator (#495)
  package-lock.json
Labels: dependencies

Bump transitive dependency optionator & ignore word-wrap vulnerability
  .nsprc
  package-lock.json
Labels: dependencies

Bump transitive dependency optionator & ignore word-wrap vulnerability (#497)
  .nsprc
  package-lock.json
Labels: dependencies

Update dependabot.yml
  .github/dependabot.yml
Labels: ci

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update transitive dependencies
  package-lock.json
Labels: dependencies

Apply labels to tooling update Pull Requests
  .github/workflows/nightly.yml
Labels: ci

Update TypeScript `moduleResolution`
  tsconfig.json
Labels: none

Bump knip from 1.6.1 to 2.15.1
  package-lock.json
  package.json
Labels: dependencies

Bump transitive dependency semver, unignore GHSA-c2qf-rxjj-qqgw
  .nsprc
  package-lock.json
Labels: dependencies

Update licensee configuration
  .licensee.json
Labels: none

Bump transitive dependency semver, unignore GHSA-c2qf-rxjj-qqgw (#517)
  .nsprc
  package-lock.json
Labels: dependencies

Update knip configuration
  knip.json
Labels: none

Bump knip from 1.6.1 to 2.15.1 (#516)
  .licensee.json
  knip.json
  package-lock.json
  package.json
Labels: dependencies

Fix verbose logging for `format:check` in CI
  .github/workflows/check.yml
Labels: ci

Fix verbose logging for `format:check` in CI (#518)
  .github/workflows/check.yml
Labels: ci

Add "Check out knip" comment to knip configuration file
  knip.jsonc
  package.json
Labels: none

Add "Check out knip" comment to knip configuration file (#521)
  knip.jsonc
  package.json
Labels: none

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update transitive dependencies
  package-lock.json
Labels: dependencies
