Repository ericcornelissen/eslint-plugin-top, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, documentation, meta, test, security

.github/labeler.yml:

# Check out Labeler at: https://github.com/actions/labeler

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/codeql.yml
          - .github/dependabot.yml
          - .github/labeler.yml

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - .nvmrc
          - .tool-versions
          - package-lock.json

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - docs/**/*
          - README.md

meta:
  - changed-files:
      - any-glob-to-any-file:
          - .github/labeler.yml
          - .editorconfig
          - .eslintrc.cjs
          - .gitattributes
          - .gitignore
          - .licensee.json
          - .lockfile-lintrc.yml
          - .markdownlint.yml
          - .npmrc
          - .prettierrc.yml

test:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**
          - tests/**/*
          - .c8rc.json
          - .mocharc.cjs

security:
  - changed-files:
      - any-glob-to-any-file:
          - .github/codeql.yml
          - .nsprc
          - SECURITY.md

Update container used for Semgrep scan (#1276)
  .github/workflows/semgrep.yml
Labels: ci

Update transitive dependencies
  package-lock.json
Labels: dependencies

Clean up licensee exceptions
  .licensee.json
Labels: meta

Remove secrets check from CI
  .github/workflows/secrets.yml
Labels: ci

Remove secrets check from CI (#1283)
  .github/workflows/secrets.yml
Labels: ci

Clean up licensee exceptions (#1282)
  .licensee.json
Labels: meta

Update transitive dependencies
  package-lock.json
Labels: dependencies

Try out `eslint-plugin-depend`
  eslint.config.mjs
  package-lock.json
  package.json
Labels: dependencies

Try out `eslint-plugin-depend` (#1291)
  eslint.config.mjs
  package-lock.json
  package.json
Labels: dependencies

Enable `--report-unused` for depreman
  package.json
Labels: none

Update deprecation rules
  .ndmrc
Labels: none

Update transitive dependencies
  package-lock.json
Labels: dependencies

Enable new `json/top-level-interop` rule
  eslint.config.mjs
Labels: none

Remove the dependency on knip
  .github/workflows/check.yml
  CONTRIBUTING.md
  eslint.config.mjs
  knip.jsonc
  package-lock.json
  package.json
Labels: ci, dependencies

Remove the dependency on knip (#1305)
  .github/workflows/check.yml
  CONTRIBUTING.md
  eslint.config.mjs
  knip.jsonc
  package-lock.json
  package.json
Labels: ci, dependencies

Align local checks with CI checks
  .github/workflows/audit-dev.yml
  .github/workflows/check.yml
Labels: ci

Align local checks with CI checks (#1306)
  .github/workflows/audit-dev.yml
  .github/workflows/check.yml
Labels: ci

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update .licensee.json
  .licensee.json
Labels: meta

Update use of `eslint-plugin-eslint-plugin`
  eslint.config.mjs
  lib/rules/no-top-level-side-effects.ts
  lib/rules/no-top-level-variables.ts
Labels: none

Resolve type warning for defaultOptions
  package-lock.json
  package.json
  rollup.config.js
Labels: dependencies

Partial reverts to fix introduced problems
  eslint.config.mjs
  lib/rules/no-top-level-side-effects.ts
  lib/rules/no-top-level-variables.ts
  package-lock.json
  package.json
  rollup.config.js
Labels: dependencies

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update actionlint
  .tool-versions
Labels: dependencies

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update actionlint
  .tool-versions
Labels: dependencies

Update .ndmrc
  .ndmrc
Labels: none

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update transitive dependencies
  package-lock.json
Labels: dependencies

Enable CodeQL scan for GitHub Actions
  .github/workflows/check.yml
Labels: ci

Enable CodeQL scan for GitHub Actions (#1336)
  .github/workflows/check.yml
Labels: ci

Try out the CodeQL community queries for JavaScript
  .github/codeql.yml
Labels: ci, security

Try out the CodeQL community queries for JavaScript (#1337)
  .github/codeql.yml
Labels: ci, security

Update actionlint
  .tool-versions
Labels: dependencies

Don't bundle when building
  .gitignore
  .npmignore
  CONTRIBUTING.md
  package-lock.json
  package.json
  rollup.config.js
  tsconfig.json
Labels: dependencies, meta

Fix build artifacts in CI
  .github/workflows/check.yml
Labels: ci

Debug downloaded artifact
  .github/workflows/check.yml
Labels: ci

Correct download of artifact
  .github/workflows/check.yml
Labels: ci

Don't bundle when building (#1345)
  .github/workflows/check.yml
  .gitignore
  .npmignore
  CONTRIBUTING.md
  package-lock.json
  package.json
  rollup.config.js
  tsconfig.json
Labels: ci, dependencies, meta
