Repository ericcornelissen/eslint-plugin-top, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, documentation, test, security

.github/labeler.yml:

# Check out Labeler at: https://github.com/actions/labeler

ci:
  - .github/workflows/*
  - .github/codecov.yml
  - .github/codeql.yml
  - .github/dependabot.yml
  - .github/labeler.yml

dependencies:
  - .tool-versions
  - package-lock.json

documentation:
  - docs/*
  - README.md

test:
  - tests/**
  - tests/**/*

security:
  - SECURITY.md

Unignore GHSA-m95q-7qp3-xv42
  .nsprc
Labels: none

Bump `(at)rollup/plugin-typescript` to allow usage with rollup v4
  package-lock.json
  package.json
Labels: dependencies

Set up `package.json` vetting with publint
  .github/workflows/check.yml
  package-lock.json
  package.json
Labels: ci, dependencies

Build before vetting `package.json`
  package.json
Labels: none

Set up `package.json` vetting with publint (#633)
  .github/workflows/check.yml
  package-lock.json
  package.json
Labels: ci, dependencies

Update transitive dependencies
  package-lock.json
Labels: dependencies

Create script to run a command iff it's available on the PATH
  package-lock.json
  package.json
  scripts/maybe-run.js
Labels: dependencies

Improve documentation for `maybe-run.js`
  scripts/maybe-run.js
Labels: none

Update ESLint configuration for new version of TypeScript eslint plugin
  .eslintrc.js
Labels: none

Update transitive dependencies
  package-lock.json
Labels: dependencies

Improve maybe-run.js script
  scripts/maybe-run.js
Labels: none

Add script source link
  scripts/maybe-run.js
Labels: none

Create script to run a command iff it's available on the PATH (#645)
  package-lock.json
  package.json
  scripts/maybe-run.js
Labels: dependencies

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update transitive dependencies
  package-lock.json
Labels: dependencies

Add basic reproducible build job
  .github/workflows/check.yml
  .gitignore
Labels: ci

Configure harden runner
  .github/workflows/check.yml
Labels: ci

Add basic reproducible build job (#668)
  .github/workflows/check.yml
  .gitignore
Labels: ci

Add SPDX license ids to OSS documentation files
  CHANGELOG.md
  CONTRIBUTING.md
  RELEASE.md
  SECURITY.md
Labels: security

Add SPDX license ids to OSS documentation files (#674)
  CHANGELOG.md
  CONTRIBUTING.md
  RELEASE.md
  SECURITY.md
Labels: security

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update ESLint configure
  .eslintrc.js
Labels: none

Update transitive dependencies
  package-lock.json
Labels: dependencies

Configure default assignee for bot PRs
  .github/dependabot.yml
  .github/workflows/nightly.yml
  .github/workflows/weekly.yml
Labels: ci

Configure default assignee for bot PRs (#684)
  .github/dependabot.yml
  .github/workflows/nightly.yml
  .github/workflows/weekly.yml
Labels: ci

Update ESLint configuration
  .eslintrc.js
Labels: none

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update transitive dependencies
  package-lock.json
Labels: dependencies
