Repository ericcornelissen/eslint-plugin-top, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, documentation, test, security

Specialize config check CI workflow
  .github/workflows/config-codecov.yml
Labels: ci

Specialize config check CI workflow (#534)
  .github/workflows/config-codecov.yml
Labels: ci

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update transitive dependencies
  package-lock.json
Labels: dependencies

Tests for top level arrow function variables
  tests/unit/no-top-level-variables.test.ts
Labels: test

Add support for allowing for top-level assignment of arrow functions
  docs/rules/no-top-level-variables.md
  lib/rules/no-top-level-variables.ts
Labels: none

Update license year
  LICENSE
Labels: none

Update the changelog
  CHANGELOG.md
Labels: none

Update the changelog
  CHANGELOG.md
Labels: none

Version bump
  CHANGELOG.md
  package-lock.json
  package.json
Labels: dependencies

Update transitive dependencies
  package-lock.json
Labels: dependencies

Harden publish workflow
  .github/workflows/publish.yml
Labels: ci

Harden CI workflow against shell/script injection (#561)
  .github/workflows/publish.yml
Labels: ci

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update TypeScript configuration
  rollup.config.js
  tsconfig.json
Labels: none

Remove outdated `(at)author` from source code
  lib/index.ts
Labels: none

Remove outdated `(at)author` from source code (#576)
  lib/index.ts
Labels: none

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update documentation in accordance with end of support for v1
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/rules/no-top-level-side-effects.md
  docs/rules/no-top-level-variables.md
Labels: documentation, security

Sunset v1 (#586)
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/rules/no-top-level-side-effects.md
  docs/rules/no-top-level-variables.md
Labels: documentation, security

Revert unintended changes
  CONTRIBUTING.md
  README.md
  docs/rules/no-top-level-side-effects.md
  docs/rules/no-top-level-variables.md
  package-lock.json
Labels: dependencies, documentation

Fold v1 maintenance branch into long term maintenance branch (#588)
  .github/workflows/check.yml
  .github/workflows/config-codecov.yml
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
  CONTRIBUTING.md
  package-lock.json
Labels: ci, dependencies

Pin Node.js to 20.5.1
  .nvmrc
Labels: none

Pin Node.js to 20.5.1 (#594)
  .nvmrc
Labels: none

Update transitive dependencies
  package-lock.json
Labels: dependencies

Unpin Node.js back to 20
  .nvmrc
Labels: none

Remove explicit `CI: true`
  .github/workflows/check.yml
Labels: ci

Remove explicit `CI: true` (#600)
  .github/workflows/check.yml
Labels: ci

Stop using Stryker dashboard
  .github/workflows/check.yml
  stryker.config.js
Labels: ci

Stop using Stryker dashboard (#601)
  .github/workflows/check.yml
  stryker.config.js
Labels: ci

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update .tool-versions
  .tool-versions
Labels: dependencies

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update transitive dependencies
  package-lock.json
Labels: dependencies

Run `npm pkg fix`
  package.json
Labels: none

Apply `npm pkg fix` (#624)
  package.json
Labels: none

Configure `better-npm-audit` to ignore GHSA-m95q-7qp3-xv42
  .nsprc
Labels: none

Ignore GHSA-m95q-7qp3-xv42 (#626)
  .nsprc
Labels: none

Update transitive dependencies
  package-lock.json
Labels: dependencies

.github/labeler.yml:

# Check out Labeler at: https://github.com/actions/labeler

ci:
  - .github/workflows/*
  - .github/codecov.yml
  - .github/codeql.yml
  - .github/dependabot.yml
  - .github/labeler.yml

dependencies:
  - .tool-versions
  - package-lock.json

documentation:
  - docs/*
  - README.md

test:
  - tests/**
  - tests/**/*

security:
  - SECURITY.md
