Repository ericcornelissen/eslint-plugin-top, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, documentation, meta, test, security

.github/labeler.yml:

# Check out Labeler at: https://github.com/actions/labeler

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/codeql.yml
          - .github/dependabot.yml
          - .github/labeler.yml

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - .nvmrc
          - .tool-versions
          - package-lock.json

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - docs/**/*
          - README.md

meta:
  - changed-files:
      - any-glob-to-any-file:
          - .github/labeler.yml
          - .editorconfig
          - .eslintrc.cjs
          - .gitattributes
          - .gitignore
          - .licensee.json
          - .lockfile-lintrc.yml
          - .markdownlint.yml
          - .npmrc
          - .prettierrc.yml

test:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**
          - tests/**/*
          - .c8rc.json
          - .mocharc.cjs

security:
  - changed-files:
      - any-glob-to-any-file:
          - .github/codeql.yml
          - .nsprc
          - SECURITY.md

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update transitive dependencies
  package-lock.json
Labels: dependencies

Update transitive dependencies
  package-lock.json
Labels: dependencies

Test that no-top-level-side-effect allows strict mode directive
  tests/unit/no-top-level-side-effects.test.ts
Labels: test

Allow strict mode directive in no-top-level-side-effects rule
  lib/rules/no-top-level-side-effects.ts
  tests/unit/no-top-level-side-effects.test.ts
Labels: test

Update the changelog
  CHANGELOG.md
  tests/unit/no-top-level-side-effects.test.ts
Labels: test

Allow `"use strict';` (#1068)
  CHANGELOG.md
  lib/rules/no-top-level-side-effects.ts
  tests/unit/no-top-level-side-effects.test.ts
Labels: test

Version bump
  CHANGELOG.md
  package-lock.json
  package.json
Labels: dependencies

Update transitive dependencies
  package-lock.json
Labels: dependencies

Use reusable workflows from current branch
  .github/workflows/audit.yml
  .github/workflows/nightly.yml
Labels: ci

Refactor out reusable workflows
  .github/workflows/audit-dev.yml
  .github/workflows/audit-release.yml
  .github/workflows/audit.yml
  .github/workflows/tooling.yml
Labels: ci

Refactor out reusable workflows (#1078)
  .github/workflows/audit-dev.yml
  .github/workflows/audit-release.yml
  .github/workflows/audit.yml
  .github/workflows/tooling.yml
Labels: ci

Automatically determine `commonjs` option value if unspecified
  docs/rules/no-top-level-side-effects.md
  lib/helpers.ts
  lib/rules/no-top-level-side-effects.ts
  tests/unit/no-top-level-side-effects.test.ts
Labels: documentation, test

Update the changelog
  CHANGELOG.md
Labels: none

Convert CJS/ESM check to positive question
  lib/helpers.ts
  lib/rules/no-top-level-side-effects.ts
Labels: none

Automatically determine `commonjs` option value if unspecified (#1081)
  CHANGELOG.md
  docs/rules/no-top-level-side-effects.md
  lib/helpers.ts
  lib/rules/no-top-level-side-effects.ts
  tests/unit/no-top-level-side-effects.test.ts
Labels: documentation, test

Pin Node.js version for development
  .nvmrc
Labels: dependencies

Pin Node.js version for development (#1085)
  .nvmrc
Labels: dependencies

Correct commit hashes for recent changes
  CHANGELOG.md
Labels: none

Update transitive dependencies
  package-lock.json
Labels: dependencies

Rewrite how we determine if a node is at the top level
  lib/helpers.ts
  lib/rules/no-top-level-side-effects.ts
  lib/rules/no-top-level-variables.ts
  tests/unit/no-top-level-side-effects.test.ts
Labels: test

Update transitive dependencies
  package-lock.json
Labels: dependencies

Improve no-top-level-side-effects tests
  tests/unit/no-top-level-side-effects.test.ts
Labels: test

Update packages ignored by licensee
  .licensee.json
Labels: meta

Update the changelog
  CHANGELOG.md
Labels: none

bug: check object properties for top level side effects
  lib/helpers.ts
  lib/rules/no-top-level-side-effects.ts
  tests/unit/no-top-level-side-effects.test.ts
Labels: test

chore: fixes failing test; adds more test cases
  lib/helpers.ts
  lib/rules/no-top-level-side-effects.ts
  tests/unit/no-top-level-side-effects.test.ts
  tests/unit/no-top-level-variables.test.ts
Labels: test

chore: fixes formatting
  tests/unit/no-top-level-side-effects.test.ts
  tests/unit/no-top-level-variables.test.ts
Labels: test

chore: addresses review comments; adds more tests for computed keys;
  lib/rules/no-top-level-side-effects.ts
  package.json
  tests/unit/no-top-level-side-effects.test.ts
Labels: test

test: backfill missing test cases
  tests/unit/no-top-level-side-effects.test.ts
Labels: test

chore: always disallow IIFEs in objects
  lib/rules/no-top-level-side-effects.ts
  tests/unit/no-top-level-side-effects.test.ts
Labels: test

Adjust checking object properties
  lib/rules/no-top-level-side-effects.ts
  tests/unit/no-top-level-side-effects.test.ts
Labels: test

Update the changelog
  CHANGELOG.md
Labels: none

Test various uses of top-level arrays
  tests/unit/no-top-level-side-effects.test.ts
Labels: test

Test various uses of top-level arrays (#1097)
  tests/unit/no-top-level-side-effects.test.ts
Labels: test

Version bump
  CHANGELOG.md
  package-lock.json
  package.json
Labels: dependencies

Adjust the changelog
  CHANGELOG.md
Labels: none

Annotate test categories for `no-top-level-side-effects`
  tests/unit/no-top-level-side-effects.test.ts
Labels: test

Annotate test categories for `no-top-level-variables`
  tests/unit/no-top-level-variables.test.ts
Labels: test
