Repository ericcornelissen/eslint-plugin-top, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, documentation, test, security

.github/labeler.yml:

# Check out Labeler at: https://github.com/actions/labeler

ci:
  - .github/workflows/*
  - .github/codecov.yml
  - .github/codeql.yml
  - .github/dependabot.yml
  - .github/labeler.yml

dependencies:
  - .tool-versions
  - package-lock.json

documentation:
  - docs/*
  - README.md

test:
  - tests/**
  - tests/**/*

security:
  - SECURITY.md

Add support for Node.js v20
  .github/workflows/check.yml
  .nvmrc
  package-lock.json
  package.json
  scripts/run-compat-tests.js
Labels: ci, dependencies

Update the changelog
  CHANGELOG.md
Labels: none

Publish with provenance from CI
  .github/workflows/publish.yml
Labels: ci

Update transitive dependencies
  package-lock.json
Labels: dependencies

Version bump
  CHANGELOG.md
  package-lock.json
  package.json
Labels: dependencies

Update `publish.yml` workflow
  .github/workflows/publish.yml
Labels: ci

Update `publish.yml` workflow
  .github/workflows/publish.yml
Labels: ci

Update `publish.yml` workflow
  .github/workflows/publish.yml
Labels: ci

Restore egress policy for "Publish / npm"
  .github/workflows/publish.yml
Labels: ci

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Bump yaml from 2.1.3 to 2.2.2
  package-lock.json
Labels: dependencies

Apply SPDX identifiers
  lib/helpers.ts
  lib/index.ts
  lib/rules/no-top-level-side-effects.ts
  lib/rules/no-top-level-variables.ts
  scripts/bump-changelog.js
  scripts/run-compat-tests.js
  tests/compat/helpers.ts
  tests/compat/main.test.ts
  tests/compat/snapshots.ts
Labels: test

Add missing SPDX identifiers to unit tests
  tests/unit/helpers.ts
  tests/unit/no-top-level-side-effects.test.ts
  tests/unit/no-top-level-variables.test.ts
Labels: test

Apply SPDX identifiers (#402)
  lib/helpers.ts
  lib/index.ts
  lib/rules/no-top-level-side-effects.ts
  lib/rules/no-top-level-variables.ts
  scripts/bump-changelog.js
  scripts/run-compat-tests.js
  tests/compat/helpers.ts
  tests/compat/main.test.ts
  tests/compat/snapshots.ts
  tests/unit/helpers.ts
  tests/unit/no-top-level-side-effects.test.ts
  tests/unit/no-top-level-variables.test.ts
Labels: test

Enable new ESLint rule `yml/no-trailing-zeros`
  .eslintrc.js
Labels: none

Bump all Stryker dependencies
  package-lock.json
  package.json
Labels: dependencies

Bump all Stryker dependencies (#424)
  package-lock.json
  package.json
Labels: dependencies

Update documentation in accordance with end of support for v0
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/rules/no-top-level-side-effect.md
  docs/rules/no-top-level-variables.md
Labels: documentation, security

Re-install all dependencies
  package-lock.json
Labels: dependencies

Update transitive dependencies and their integrity values (#430)
  package-lock.json
Labels: dependencies

Update documentation in accordance with end of support for v0 (#429)
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/rules/no-top-level-side-effect.md
  docs/rules/no-top-level-variables.md
Labels: documentation, security

Drop ESLint v6 and v7
  .nsprc
  knip.json
  package-lock.json
  package.json
  tests/compat/helpers.ts
  tests/compat/main.test.ts
Labels: dependencies, test

Drop Node.js v12, v14, and v16
  .github/workflows/check.yml
  package-lock.json
  package.json
  scripts/run-compat-tests.js
Labels: ci, dependencies

Replace Docker-based custom `:compat-all` script by nve
  .licensee.json
  CONTRIBUTING.md
  package-lock.json
  package.json
  scripts/run-compat-tests.js
Labels: dependencies

Run compatibility test on lowest supported version
  .github/workflows/check.yml
  package.json
Labels: ci

Update the changelog
  CHANGELOG.md
Labels: none

Update the changelog
  CHANGELOG.md
Labels: none

Use `node:` imports in compatibility test code
  tests/compat/helpers.ts
  tests/compat/main.test.ts
Labels: test

Format imports
  tests/unit/no-top-level-side-effects.test.ts
  tests/unit/no-top-level-variables.test.ts
Labels: test

Update CI to run on `main-v1`
  .github/workflows/check-config.yml
  .github/workflows/check.yml
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
Labels: ci

Prepare v1 maintenance branch
  .github/workflows/check.yml
  .github/workflows/nightly.yml
  CONTRIBUTING.md
  README.md
  RELEASE.md
  SECURITY.md
Labels: ci, documentation, security

Prepare for v2 release line
  .github/workflows/check.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  RELEASE.md
  SECURITY.md
Labels: ci, security

Drop `package.json#main` in favor of `package.json#exports`
  package.json
Labels: none

Version bump
  CHANGELOG.md
  package-lock.json
  package.json
Labels: dependencies

Deduplicate the compatibility testing command
  package.json
Labels: none

Deduplicate the compatibility testing command (#454)
  package.json
Labels: none

Set `retention-days` for index.js artifact
  .github/workflows/check.yml
Labels: ci

Update actionlint to 1.6.25
  .tool-versions
Labels: dependencies

Update the security policy
  SECURITY.md
Labels: security

Update the security policy (#472)
  SECURITY.md
Labels: security
