Repository ericcornelissen/eslint-plugin-top, pull requests merged in 2024-07, with the labels that each got.

#1068 Allow `"use strict';`
  CHANGELOG.md
  lib/rules/no-top-level-side-effects.ts
  tests/unit/no-top-level-side-effects.test.ts
Labels: bug, test

#1078 Refactor out reusable workflows
  .github/workflows/audit-dev.yml
  .github/workflows/audit-release.yml
  .github/workflows/audit.yml
  .github/workflows/tooling.yml
Labels: ci

#1081 Automatically determine `commonjs` option value if unspecified
  CHANGELOG.md
  docs/rules/no-top-level-side-effects.md
  lib/helpers.ts
  lib/rules/no-top-level-side-effects.ts
  tests/unit/no-top-level-side-effects.test.ts
Labels: documentation, enhancement, test

#1085 Pin Node.js version for development
  .nvmrc
Labels: dependencies, meta

#1095 Rewrite how we determine if a node is at the top level
  CHANGELOG.md
  lib/helpers.ts
  lib/rules/no-top-level-side-effects.ts
  lib/rules/no-top-level-variables.ts
  tests/unit/no-top-level-side-effects.test.ts
Labels: test, refactor

#1088 bug: check object properties for top level side effects
  CHANGELOG.md
  lib/helpers.ts
  lib/rules/no-top-level-side-effects.ts
  package.json
  tests/unit/no-top-level-side-effects.test.ts
Labels: bug, test

#1097 Test various uses of top-level arrays
  tests/unit/no-top-level-side-effects.test.ts
Labels: test

#1103 Annotate test categories for unit tests
  tests/unit/no-top-level-side-effects.test.ts
  tests/unit/no-top-level-variables.test.ts
Labels: test
